@font-face {
    font-family: 'E1234';
    src: url('./font/E1234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Odibee';
    src: url('./font/OdibeeSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    
    
    background-image: url("../pictures/back3.png");
    background-color: #010101;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blure
    position: relative;
    padding-top: 2%;
    text-align: center;
    color: aliceblue;

    margin: 0; padding: 0; border: 0;
    font: 1em sans-serif;

    font-size: min( max(12px, 1vw), 16px);

}
@media (min-width: 1200px) {
    body {
    background-size: contain; /* Na dużych ekranach zachowuje proporcje */
    background-size: calc(75% + 20vw);
   
    
    transition: background-size 1s ease 
    
    }
}
   .timeline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: linear-gradient(to bottom,rgba(183, 3, 147, 0)2%,rgba(183, 3, 147, 0.15) ,rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.35)20%, rgba(148,4,138,0.45),rgba(138, 0, 124, 0.35),rgba(183, 3, 147, 0.25),rgba(183, 3, 147, 0.0));
   backdrop-filter: blur(6px) brightness(1);*/
  -webkit-backdrop-filter: blur(3px) brightness(0);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
    min-height: 150vh;

    font-family: Jost;
    position: relative;
    z-index: 4  ;
    padding: 0px 20% 40% 40%;
  }
  .Tiheading {
    font-size: 5em;
    text-align: center;
}
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
   padding-right: 2em;
    width: auto;
    height: auto;
    max-width: 2200px;
    display: flex;
    flex-direction: column;
    z-index: 4  ;
  }
  
  .timeline-content {
    padding: 10px;
    font-size: 1.5em;
    background: rgba(69, 139, 146, 0.001);
    -webkit-box-shadow: 5px 5px 10px #d044b9e0, -5px -5px 10px #18025523;
            box-shadow: 5px 5px 10px #6a155cc9, -5px -5px 10px #18025500;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 10px 10px 0px 10px ;
    margin-bottom: 20px;
    border-radius: 6px;
    z-index: 4  ;
  }
  
  .timeline-component {
    margin: 0px 0px 20px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #25dbf3c5, #787878de, #40d6f1c9);
      width: 5px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #808080, #03eeffdb,#636363fe,#676767d3, #40d6f1be);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

.Footer {

    display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

    .Footer > .section {
        padding: 1em;   
    }

    section {
        display: grid;
        gap: 4rem;
        align-items: center;
        justify-content: center;
      }
      
      section p {
        margin: 0;
        font-size: 2.25rem;
        color: hsl(0 0% 40%);
        text-align: center;
        background: linear-gradient(hsl(0 0% 80%), hsl(0 0% 50%));
        color: transparent;
        background-clip: text;
      }
      
      .code {
        font-size: 3rem;
        display: flex;
        flex-wrap: nowrap;
        color: hsl(0 0% 100%);
        border-radius: 1rem;
        background: hsl(0 0% 6%);
        justify-content: center;
        box-shadow: 0 1px hsl(0 0% 100% / 0.25) inset;
      }
      
      .code:hover {
        cursor: grab;
      }
      
      .digit {
        display: flex;
        height: 100%;
        padding: 5.5rem 1rem;
      }
      
      .digit:focus-visible {
        outline-color: hsl(0 0% 50% / 0.25);
        outline-offset: 1rem;
      }
      
      .digit span {
        scale: calc(var(--active, 0) + 0.5);
        filter: blur(calc((1 - var(--active, 0)) * 1rem));
        transition: scale calc(((1 - var(--active, 0)) + 0.2) * 1s), filter calc(((1 - var(--active, 0)) + 0.2) * 1s);
      }
      
      ul {
        padding: 0;
        margin: 0;
      }
      
      .digit:first-of-type {
        padding-left: 5rem;
      }
      .digit:last-of-type {
        padding-right: 5rem;
      }
      
      :root {
        --lerp-0: 1; /* === sin(90deg) */
        --lerp-1: calc(sin(50deg));
        --lerp-2: calc(sin(45deg));
        --lerp-3: calc(sin(35deg));
        --lerp-4: calc(sin(25deg));
        --lerp-5: calc(sin(15deg));
      }
      
      .digit:is(:hover, :focus-visible) {
        --active: var(--lerp-0);
      }
      .digit:is(:hover, :focus-visible) + .digit,
      .digit:has(+ .digit:is(:hover, :focus-visible)) {
        --active: var(--lerp-1);
      }
      .digit:is(:hover, :focus-visible) + .digit + .digit,
      .digit:has(+ .digit + .digit:is(:hover, :focus-visible)) {
        --active: var(--lerp-2);
      }
      .digit:is(:hover, :focus-visible) + .digit + .digit + .digit,
      .digit:has(+ .digit + .digit + .digit:is(:hover, :focus-visible)) {
        --active: var(--lerp-3);
      }
      .digit:is(:hover, :focus-visible) + .digit + .digit + .digit + .digit,
      .digit:has(+ .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
        --active: var(--lerp-4);
      }
      .digit:is(:hover, :focus-visible) + .digit + .digit + .digit + .digit + .digit,
      .digit:has(+ .digit + .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
        --active: var(--lerp-5);
      }



      
      .td-figure {
  perspective: 1500px;
}

.td-figure img {
  transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
  border-radius: 5%;
  box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
  transition: .3s;
}

.td-figure:hover img {
  transform: rotate(0);
}





.sqrtPic{
    width: 25vw; 
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}
.grid {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.text-component {
  text-align: center;
}

.text-component h1 {
  margin-bottom: 0.75rem;
}

@media (min-width: 64rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .text-component {
    text-align: left;
  }
}


.typeh1 {
    font-size: 9vmin;
    color: rgb(247, 248, 250);
    text-align: center;
  
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
    
  }
  
  /* Typewriter effect 1 */
  @keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "P"; }
    2.2791%, 25.0698% { content: "Pr"; }
    3.4186%, 23.9302% { content: "Pro"; }
    4.5581%, 22.7907% { content: "Prog"; }
    5.6977%, 21.6512% { content: "Progr"; }
    6.8372%, 20.5116% { content: "Progra"; }
    7.9767%, 19.3721% { content: "Program"; }
    9.1163%, 18.2326% { content: "Programi"; }
    10.2558%, 17.0930% { content: "Programis"; }
    12.2558%, 17.0930% { content: "Programist"; }
    14.2558%, 17.0930% { content: "Programistą"; }
  
    30.7674%, 75.2093% { content: ""; }
    31.9070%, 74.0698% { content: "S"; }
    33.0465%, 72.9302% { content: "Sp"; }
    34.1860%, 71.7907% { content: "Spe"; }
    35.3256%, 70.6512% { content: "Spec"; }
    36.4651%, 69.5116% { content: "Specj"; }
    37.6047%, 68.3721% { content: "Specja"; }
    38.7442%, 67.2326% { content: "Specjal"; }
    39.8837%, 66.0930% { content: "Specjali"; }
    41.0233%, 64.9535% { content: "Specjalis"; }
    42.1628%, 63.8140% { content: "Specjalist"; }
    43.3023%, 62.6744% { content: "Specjalista"; }
    44.4419%, 61.5349% { content: "Specjalista "; }
    45.5814%, 60.3953% { content: "Specjalista A"; }
    46.7209%, 59.2558% { content: "Specjalista AI"; }
    
    78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "S"; }
    80.9070%, 94.5814% { content: "St"; }
    82.0465%, 93.4419% { content: "Stu"; }
    83.1860%, 92.3023% { content: "Stud"; }
    84.3256%, 91.1628% { content: "Stude"; }
    85.4651%, 90.0233% { content: "Studen"; }
    86.6047%, 88.8837% { content: "Student"; }
    87.7442%, 87.7442% { content: "Studentem"; }
    
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  